@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Yatra+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    list-style-type: none;
}

#application {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}